:root{
    --main-title-color: #212121;
    --second-text-color: #ffffff;
    --accent-color: #2196f3;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    
    

}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

/*--------------------HEADER--------------------*/
.logo-part{
font-family: 'Raleway';
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--accent-color);
}

.logo {
font-family: 'Raleway';
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: #000000;
}

.nav-list-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--main-title-color);
}

.nav-list-link:hover, 
.nav-list-link:focus
{
color: var(--accent-color);
}
.header-mail {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-mail:hover,
.header-mail:focus {
color: var(--accent-color);
}

.header-tel {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: #757575;
}

.header-tel:hover,
.header-tel:focus {
color: var(--accent-color);}

/*----------HERO-----------*/

.hero {
    background-color: #2f303A;
}
/*фон поставила только, чтобы было видно заголовок*/

.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--second-text-color);
}

.hero-btn {
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
text-align: center;
letter-spacing: 0.06em;
color: var(--second-text-color);
cursor: pointer;
}

/*-----------BENEFITS------------*/
.benefits-title {
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--main-title-color);

}
.benefits-item {
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
}

/*------------WORK--------------*/

.title {
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--main-title-color);
}

/*-------------TEAM-------------*/
.team-subtitle {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--main-title-color);
}
.team-text {
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
}

/*---------------FOOTER----------------*/

.footer {
    background-color: #2f303a;;
}

.address-destination {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--second-text-color);
}
.address-link {;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}

.address-link:hover,
.address-link:focus {
color: var(--accent-color);
}
/*-----------------PORTFOLIO------------------*/

.filter-button {
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
color: #212121;
cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
color: #ffffff;
}

.projects-title {
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--main-title-color);
}

.projects-description {
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
}